<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <title>ITP Snailbox</title>
  </head>
  <body>
    <header>
      <div>
        <h1>
          ITP <ion-icon id="ion-icon" name="mail-sharp"></ion-icon
          ><br />Snailbox
        </h1>
      </div>
    </header>
    <div id="container">
      <div>
        <h2>SNAILMAIL</h2>
      </div>
      <div>
        <p>
          Thanks for leaving a message! Press <b>Play</b> if you're looking for
          something else to do besides work.
        </p>
      </div>
      <a href="/status"><button class="main-button">STATUS</button></a>
      <!-- Remove or change the route^ -->
    </div>
  </body>
</html>
