<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ITP Snailbox</title>
  </head>
  <body>
    <header>
      <div><h1>ITP </br> Snailbox</h1></div>
    </header>
    <div id="container">
      <div>
        <h2>SNAILMAIL</h2>
      </div>
      <div>
        <p>
          Thanks!
        </p>
      </div>
      <a href="/"
        ><button class="main-button">Bye</button></a
      >
    </div>
  </body>
</html>
