<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITP Snailbox</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div><h1>ITP </br> Snailbox</h1></div>
    </header>
    <div id="container">
      <section>
        <h2>SNAILMAIL</h2>
      </section>
      <p>
        Poke ramps hella pour-over. Hella sartorial consequat dolor. Occaecat celiac tilde 8-bit glossier four loko. Roof party exercitation mustache nisi, reprehenderit cornhole adaptogen.
      </p>
      <form name="form" class="form" method="POST" action="/confirmation">
        <h3>Leave a message for someone on the floor. Be nice!</h3>
        <input
          type="text"
          id="q1o1"
          name="q1"
          value=""
        />
        <input
          class="main-button"
          type="submit"
          name="submit"
          value="Send"
        />
      </form>
    </div>
  </body>
</html>
