<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Log</title>
  </head>
  <body>
    <table>
      <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <td><%= "message: " + data[i].message %></td>
        <td><%= "id: " + data[i]._id %></td>
        <td><%= "epoch time: " + data[i].timeStamp %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
